<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layoutBase(~{::contenido}, ~{::scripts})">

<th:block th:fragment="contenido">
	<div class="container mt-5">
		<div class="card shadow-lg">
			<div class="card-body">
				<div class="row">
					<div class="col-md-10">
						<h1 class="card-title">Listado de Docentes</h1>
					</div>
					<div th:if="${session.idTipo != 2}" class="col-md-2">
						<a th:href="@{/docente/nuevo}" class="btn btn-success w-100"> <i class="fa-solid fa-plus"></i>
							Nuevo
						</a>
					</div>
				</div>
				<div class="row mb-3">
					<fieldset class="border border-2 border-dark pb-2">
						<legend class="float-none w-auto px-2">Filtros</legend>
						<form th:action="@{/docente/filtrodocente}" method="get" th:object="${filter}">
							<div class="row align-items-end">
								<div class="col-md-3">
									<label for="nombreCurso" class="form-label">Nombre Docente</label>
									<div class="input-group">
										<span class="input-group-text"><i
												class="fa-solid fa-chalkboard-user"></i></span>
										<select class="form-select" th:field="*{nombreDocente}">
											<option value="-1">--Todos--</option>
											<option th:each="item:${lstDocenteaux}" th:value="${item.nombreDocente}"
												th:text="${item.nombreDocente}">
											</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<label for="sede" class="form-label">Apellidos Docente</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fa-solid fa-truck-fast"></i></span>
										<select class="form-select" th:field="*{apellidoDocente}">
											<option value="-1">--Todos--
											</option>
											<option th:each="item:${lstDocenteaux}" th:value="${item.apellidoDocente}"
												th:text="${item.apellidoDocente}">
											</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 text-end">
									<button type="submit" class="btn btn-outline-dark">
										<i class="fa-solid fa-binoculars"></i> Buscar
									</button>
									<a th:href="@{/docente/listadodocente}" class="btn btn-outline-secondary">
										<i class="fa-solid fa-broom"></i> Limpiar
									</a>
								</div>
							</div>
						</form>
					</fieldset>
				</div>

				<div class="table-responsive" style="max-width: 1400px; overflow-x: auto;">
					<table class="table table-hover">
						<thead class="table-dark text-center">
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Correo</th>
								<th>Celular</th>
								<th>Fecha de Ingreso</th>
								<th>Estado</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody class="table-secondary text-nowrap">
							<tr th:each="item : ${lstDocente}">
								<td th:text="${item.idDocente}" class="text-center"></td>
								<td th:text="${item.nombreDocente}" class="text-center"></td>
								<td th:text="${item.apellidoDocente}" class="text-center"></td>
								<td th:text="${item.correoProfe}" class="text-center"></td>
								<td th:text="${item.celularProfe}"></td>
								<td th:text="${item.fechaIngreso}"></td>
								<td class="text-center">
									<span class="badge"
										th:classappend="${item.activo} ? ' bg-success' : ' bg-secondary'"
										th:text="${item.activo} ? 'Activo' : 'Inactivo'">
									</span>
								</td>
								<td class="text-center align-middle">
									<a th:href="@{/docente/edicion/{id}(id=${item.idDocente})}"
										class="btn btn-outline-secondary" title="Editar" role="button">
										<i class="fa-regular fa-pen-to-square"></i>
									</a>
									<form method="post" th:action="@{/docente/cambiar-estado}">
										<div class="form-switch">
											<input type="hidden" name="id" th:value="${item.idDocente}">
											<input class="form-check-input" type="checkbox" th:checked="${item.activo}"
												onchange="this.form.submit()">
										</div>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<th:block th:utext="${alert}"></th:block>
</th:block>