<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Listado de Cursos</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
	<div class="container mt-5">
		<div class="card shadow-lg">
			<div class="card-body">
				<div class="row">
					<div class="col-md-10">
						<h1 class="card-title">Listado de Cursos</h1>
					</div>
					<div class="col-md-2">
						<a th:href="@{/ordenes/nuevo}" class="btn btn-success w-100"> <i class="fa-solid fa-plus"></i>
							Nuevo
						</a>
					</div>
				</div>
				<div class="row mb-3">
					<fieldset class="border border-2 border-dark pb-2">
						<legend class="float-none w-auto px-2">Filtros</legend>
						<form th:action="@{/curso/filtrocurso}" method="get" th:object="${filter}">
							<div class="row align-items-end">
								<div class="col-md-3">
									<label for="idCategoria" class="form-label">Nombre Curso</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fa-solid fa-chalkboard-user"></i></span>
										<select class="form-select" th:field="*{nombreCurso}">
											<option value="">--Todos--</option>
											<option th:each="item:${lstCurso2}" th:value="${item.nombreCurso}"
												th:text="${item.nombreCurso}">
											</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<label for="proveedor" class="form-label">Sede</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fa-solid fa-truck-fast"></i></span>
										<select class="form-select" th:field="*{idSede}">
											<option value="">--Todos--
											</option>
											<option th:each="item:${lstSede}" th:value="${item.idSede}"
												th:text="${item.nombreSede}">
											</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 text-end">
									<button type="submit" class="btn btn-outline-dark">
										<i class="fa-solid fa-binoculars"></i> Buscar
									</button>
									<a th:href="@{/curso/listadocurso}" th class="btn btn-outline-secondary">
										<i class="fa-solid fa-broom"></i> Limpiar
									</a>
								</div>
							</div>
						</form>
					</fieldset>
				</div>
				
				<div class="table-responsive" style="max-width: 1400px; overflow-x: auto;">
					<table class="table table-hover">
						<thead class="table-dark text-center">
							<tr>
								<th>ID</th>
								<th>Nombre Curso</th>
								<th>Fecha Inicio</th>
								<th>Fecha Fin</th>
								<th>Sede</th>
								<th>Aula</th>
								<th>Horario</th>
								<th>Docente</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody class="table-secondary text-nowrap">
							<tr th:each="item : ${lstCurso}">
								<td th:text="${item.idCurso}" class="text-center"></td>
								<td th:text="${item.nombreCurso}" class="text-center"></td>
								<td th:text="${item.fechaInicio}"></td>
								<td th:text="${item.fechaFin}"></td>
								<td th:text="${item.sede.nombreSede}"></td>
								<td th:text="${item.aula.nombreAula}"></td>
								<td th:text="${item.horario.descripcionHorario}"></td>
								<td th:text="|${item.docente.nombreDocente} ${item.docente.apellidoDocente}|"></td>
								<td class="text-center align-middle">
									<a th:href="@{/curso/edicion/{id}(id=${item.idCurso})}"
										class="btn btn-outline-secondary" title="Editar" role="button">
										<i class="fa-regular fa-pen-to-square"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<th:block th:utext="${alert}"></th:block>
</body>

</html>