<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layoutBase(~{::contenido}, ~{::scripts})">
<div th:fragment="contenido">

	<div class="card shadow-lg">
		<div class="card-body">

			<form class="row g-3" th:action="@{/matricula/registrar}" method="post">
				<div class="col-md-10">
					<h1 class="m-0">Emisión de matricula</h1>
				</div>

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary w-100">
						Registrar
						<i class="fa-solid fa-floppy-disk"></i>
					</button>
				</div>

				<!-- Información de la Boleta -->
				<div class="card mb-4">
					<div class="card-body">
						<p class="m-0">
							<strong>Fecha:</strong> <span
								th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
						</p>
					</div>
				</div>
			</form>

			<!-- Sección de Selección de Cursos -->
			<div class="card mb-4">
				<div class="card-body">

					<!-- Botón para abrir el modal -->
					<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalCursos">
						<i class="fa-solid fa-magnifying-glass"></i> Seleccionar Producto
					</button>

					<!-- Producto Seleccionado -->
					<form id="form" novalidate th:action="@{/matricula/agregar}" method="post"
						th:object="${cursoSeleccionado}" class="needs-validation">
						<div class="row g-2 align-items-end">
							<div class="col-md-2">
								<label>Código</label>
								<input type="text" class="form-control" th:field="*{idCurso}" readonly>
							</div>
							<div class="col-md-4">
								<label>Nombre</label>
								<input type="text" class="form-control" th:field="*{nombreCurso}" readonly>
							</div>
							<div class="col-md-2">
								<label>Horario</label>
								<input type="text" class="form-control" th:field="*{horario}" readonly>
							</div>
							<div class="col-md-2">
								<label>Docente</label>
								<input type="text" class="form-control" th:field="*{docente}" readonly>
							</div>
							<div class="col-md-2 align-items-end">
								<button class="btn btn-success">
									<i class="fa-solid fa-plus"></i> Agregar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<!-- Tabla de Detalle de Productos -->
			<div class="card">
				<div class="card-body">
					<h5>Detalle de Productos</h5>
					<div class="table-responsive">
						<table class="table table-bordered align-middle">
							<thead class="table-dark">
								<tr>
									<th>Código</th>
									<th>Nombre</th>
									<th>Fecha de Inicio</th>
									<th>Horario</th>
									<th>Docente</th>
									<th>Accion</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${lstSeleccionado}">
									<td th:text="${item.idCurso}"></td>
									<td th:text="${item.nombreCurso}"></td>
									<td th:text="${item.fechaInicio}"></td>
									<td th:text="${item.horario}"></td>
									<td th:text="${item.docente}"></td>
									<td>
										<form th:action="@{/matricula/quitar}" method="post">
											<input type="hidden" name="idCurso" th:value="${item.idCurso}" />
											<button class="btn btn-danger btn-sm">
												<i class="fa-solid fa-trash"></i> Quitar
											</button>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fragmento Modal de Selección de Productos -->
	<div th:replace="fragments/modal-cursos :: modal-cursos(${cursos}, 'modalCursos')"></div>

	<th:block th:utext="${alert}"></th:block>
</div>
<th:block th:fragment="scripts">

	<!-- Script para seleccionar curso desde el modal -->
	<script>
		$(document).on('click', '.btnSeleccionar', function () {
			const idCurso = $(this).data('id-curso');
			const nombreCurso = $(this).data('nombre-curso');
			const horario = $(this).data('horario');
			const docente = $(this).data('docente');

			$('#idCurso').val(idCurso);
			$('#nombreCurso').val(nombreCurso);
			$('#horario').val(horario);
			$('#docente').val(docente);

			const modalEl = document.getElementById('modalCursos');
			const modal = bootstrap.Modal.getOrCreateInstance(modalEl);
			modal.hide();
		});
	</script>


	<!-- Script de inicialización del DataTable -->
	<script>
		$(document).ready(function () {
			const idTabla = '#tblSelectorCursos';
			if ($.fn.DataTable.isDataTable(idTabla)) {
				$(idTabla).DataTable().destroy();
			}
			$(idTabla).DataTable({
				lengthMenu: [5, 10],
				pageLength: 5,
				language: {
					url: 'https://cdn.datatables.net/plug-ins/2.3.4/i18n/es-ES.json',
					search: "Filtrar:"
				}
			});
		});
	</script>
	<script>
			$(document).ready(function () {
				$("#form").validate({
					rules: {
						idCurso: {
							required: true
						},
						nombreCurso: {
							required: true
						},
						horario: {
							required: true
						},
						docente: {
							required: true
						}
					},
					messages: {
						idCurso: {
							required: "campo requerido"
						},
						nombreCurso: {
							required: "campo requerido"
						},
						horario: {
							required: "campo requerido"
						},
						docente: {
							required: "campo requerido"
						}
					},
					errorElement: 'div',
					errorClass: 'invalid-tooltip',
					highlight: function (element) {
						$(element).addClass('is-invalid').removeClass('is-valid');
					},
					unhighlight: function (element) {
						$(element).removeClass('is-invalid').addClass('is-valid');
					}
				});
			});
		</script>
</th:block>

</html>